{% extends 'base.html' %}
{% load static %}
{% block title %} Contact List {% endblock %}
{% block content %}
<div class="container my-5">
    <h1>Contact List</h1>
    <a href="{% url 'contact-create' %}">
        <button class="btn btn-outline-info px-5 py-2">Send contact</button>
    </a>
    {% for contact in contacts %}
    <div class="bg-info
 rounded my-3 p-2">
        <span class="fw-bold">{{ contact.user.username }}</span>
        <h3 class="text-light">{{ contact.name }}</h3>
    </div>
    {% endfor %}
</div>
{% endblock %}
