{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <title>{% block title %}PHPJabbers.com | Free Car Dealer Website Template{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>

<!-- ***** Preloader Start ***** -->
{#<div id="js-preloader" class="js-preloader">#}
{#    <div class="preloader-inner">#}
{#        <span class="dot"></span>#}
{#        <div class="dots">#}
{#            <span></span>#}
{#            <span></span>#}
{#            <span></span>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">Car Dealer<em> Website</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="cars.html">Cars</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">About</a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item active" href="home.html">About Us</a>
                                <a class="dropdown-item" href="blog.html">Blog</a>
                                <a class="dropdown-item" href="team.html">Team</a>
                                <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                                <a class="dropdown-item" href="faq.html">FAQ</a>
                                <a class="dropdown-item" href="terms.html">Terms</a>
                            </div>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="api/v1/">API</a></li>
                        <li>
                            <div>
                                {% if request.user.is_authenticated %}
                                    <a style="font-family: 'Roboto', sans-serif;" class="d-inline ml-5 font-weight-bold"
                                       href="{% url 'users:user-detail' user_id=request.user.id %}">{{ request.user.username }}<i
                                            class="fa fa-fw fa-user text-light"></i></a>
                                    <a class="d-inline btn btn-outline-danger"
                                       href="{% url 'users:user-logout' %}">Logout</a>
                                {% else %}
                                    <a class="d-inline mx-4 btn btn-outline-primary"
                                       href="{% url 'users:user-login' %}">Sign in</a>
                                    <a class="d-inline btn btn-primary" href="{% url 'users:user-register' %}">Sign
                                        up</a>
                                {% endif %}
                            </div>
                        </li>

                    </ul>


                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<div class="mt-5">
    {% block content %}

    {% endblock %}
</div>
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © 2020 Company Name
                    - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'assets/js/popper.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/imgfix.min.js' %}"></script>
<script src="{% static 'assets/js/mixitup.js' %}"></script>
<script src="{% static 'assets/js/accordions.js' %}"></script>

<!-- Global Init -->
<script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>